$primary-bg: #ffffff;
$bg-dark: #000000;
$text-color: #FFFFFF;
$text-dark: #000000;
$text-light: #A8A8A8;
$text-secondary-light: #666666;
$primary-blue: #3951A6;
$primary-link: #74C000;
$text-theme-option: #8CD7A3;
$input-outline-color: #63b8d3;
$layout-border-color: #373737;
$layout-bg-dark: #1A1A1A;